{% extends 'base.html.twig' %}

{% block title %}
    BeChess | Login
{% endblock %}

{% block body %}
    <h2>Login here</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
